* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(145deg, #1e1d33, #2E2D4E, #423f6b);
  background-attachment: fixed;
  background-size: cover;
}